{% extends "empty-layout.html" %}
{% load staticfiles %}
{% block styling %}
    <link rel="stylesheet" href="{% static "style/pointOfSale.css" %}" />
{% endblock styling %}
{% block maincontent %}

    <div id="cashier-shift-view" data-bind="visible: theShiftIsNotActive">
        <div class="page-header">
            <div class="clearfix">
                <div class="col-md-6">
                    <h1>
                        Empezar turno de caja
                    </h1>
                </div>
            </div>
        </div>
        <div class="row">
            {%  include "generic_form.html" %}
        </div>
    </div>


    <div id="point-of-sales-page" class="main-content" data-bind="visible: theShiftIsActive">
        <div class="main-content-inner">
            <div class="page-content">

                <div class="row">
                    <div class="col-sm-12">
                        <button class="btn btn-white btn-info btn-bold" data-bind="click:newOrder">
                            <i class="ace-icon fa fa-file-o bigger-120 blue"></i>
                            Nuevo: F2
                        </button>

                         <button class="btn btn-white btn-info btn-bold"  data-bind="click:save">
                            <i class="ace-icon fa fa-floppy-o bigger-120 blue"></i>
                            Guardar: F3
                        </button>

                        <button class="btn btn-white btn-info btn-bold"  data-bind="click:print">
                            <i class="ace-icon fa fa-print bigger-120 blue"></i>
                            Imprimir: F4
                        </button>

                        <button class="btn btn-white btn-info btn-bold" data-bind="click:finish">
                            <i class="ace-icon fa fa-arrow-circle-right bigger-120 blue"></i>
                            Finalizar: F5
                        </button>

                        <button class="btn btn-white btn-info btn-bold" data-bind="click:showOrders">
                            <i class="ace-icon fa fa-list-ul bigger-120 blue"></i>
                            Facturas: F6
                        </button>

                         <button class="btn btn-white btn-info btn-bold"  data-bind="click:finishShift">
                            <i class="ace-icon fa fa-sign-out bigger-120 blue"></i>
                            Cerrar Caja: F6
                        </button>
                    </div>
                    <div class="col-sm-12">
                        <!-- PAGE CONTENT BEGINS -->
                        <div class="col-sm-8">
                            <div class="row">
                                <div class="widget-header widget-header-large">
                                    <h3 class="inline smaller lighter blue">Orden <span data-bind="visible:order.isNew">Nueva</span></h3>
                                    <div class="widget-toolbar no-border invoice-info" data-bind="visible:order.isEditing">
                                        <span class="invoice-info-label">Turno:</span>
                                        <span class="red"  data-bind="text:order.number" ></span>

                                        <br />
                                        <span class="invoice-info-label">Cajero:</span>
                                        <span class="blue"  data-bind="text:order.username"></span>
                                    </div>

                                    <div class="widget-toolbar no-border invoice-info" data-bind="visible:order.isEditing">
                                        <span class="invoice-info-label">Codigo:</span>
                                        <span class="red"  data-bind="text:order.id"></span>

                                        <br />
                                        <span class="invoice-info-label">Fecha:</span>
                                        <span class="blue"  data-bind="text:order.created_date"></span>
                                    </div>


                                    <div class="widget-toolbar hidden-480">
                                        <a href="#">
                                            <i class="ace-icon fa"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="row">

                                <form class="order-form">


                                    <div class="order-input col-sm-3">
                                        <label for="input_salesarea">Mesa</label>
                                        <div class="form-group">
                                            <select id="input_salesarea" class="form-control" data-bind="
                                                options: salesAreaList,
                                                optionsCaption: '...',
                                                optionsText: 'name',
                                                optionsValue: 'id',
                                                value: order.salesarea
                                                "></select>
                                        </div>
                                    </div>

                                    <div class="order-input col-sm-3 center">
                                        <label> Llevar </label>
                                        <div class="form-group">
                                            <label>
                                                <input data-bind="checked:order.to_go" class="ace ace-switch" type="checkbox">
                                                <span class="lbl" data-lbl="SI&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;NO"></span>
                                            </label>
                                        </div>
                                    </div>

                                    <div class="order-input col-sm-3 center">
                                        <label> Recoger </label>
                                        <div class="form-group">
                                            <label>
                                                <input data-bind="checked:order.to_pickup" class="ace ace-switch" type="checkbox">
                                                <span class="lbl" data-lbl="SI&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;NO"></span>
                                            </label>
                                        </div>
                                    </div>

                                    <div class="order-input col-sm-3 center">
                                        <label> Entregada </label>
                                        <div class="form-group">
                                            <label>
                                                <input data-bind="checked:order.delivered" class="ace ace-switch" type="checkbox">
                                                <span class="lbl" data-lbl="SI&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;NO"></span>
                                            </label>
                                        </div>
                                    </div>


                                </form>
                            </div>

                            <div class="row">
                                <div class="col-sm-12">
                                    <h3 class="header smaller lighter blue">Cliente</h3>
                                </div>
                            </div>
                            <div class="row">

                                <form class="order-form">
                                    <div class="order-input col-sm-2">
                                        <label for="input_phone"> Telefono </label>
                                        <div class="input-group">
                                            <input id="input_phone" data-bind="value:order.customerPhone"  type="text" class="form-control search-query">
                                                                <span class="input-group-btn">
                                                                    <button type="button"  class="btn btn-purple btn-sm" data-toggle="modal" data-target="#searchClientsModal">
                                                                        <span class="ace-icon fa fa-search icon-on-right"></span>
                                                                    </button>
                                                                </span>
                                        </div>
                                    </div>
                                    <div class="order-input col-sm-3">
                                        <label for="input_customer_name"> Cliente </label>
                                        <div class="form-group">
                                            <input id="input_customer_name" type="text" data-bind="value:order.customerName, enable: order.customerIsNew" />
                                        </div>
                                    </div>
                                    <div class="order-input col-sm-4">
                                        <label for="input_customer_address"> Direccion </label>
                                        <div class="form-group">
                                            <input id="input_customer_address" type="text" data-bind="value:order.customerAddress" />
                                        </div>
                                    </div>
                                    <div class="order-input col-sm-3">
                                        <label for="input_customer_referene"> Referencia </label>
                                        <div class="form-group">
                                            <input id="input_customer_referene" type="text" data-bind="value:order.customerReference" />
                                        </div>
                                    </div>
                                    <div class="order-input col-sm-12">
                                        <label class="middle">
                                            <input class="ace" type="checkbox" id="input_update_customer_entry" data-bind="checked:order.update_customer_entry">
                                            <span class="lbl"> Afectar direccion para futuras ordenes</span>
                                        </label>
                                    </div>
                                </form>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <h3 class="header smaller lighter blue">Detalle</h3>
                                </div>
                            </div>
                            <form class="order-form">
                                <div class="row">
                                    <div class="order-input col-sm-2">
                                        <label for="input_product_id"> Código </label>
                                        <div class="input-group" data-bind="css:{'has-error':order.detailModel.productIdHasError}">
                                            <input id="input_product_id" type="text" class="form-control search-query" data-bind="value: order.detailModel.productId">
                                                            <span class="input-group-btn">
                                                                <button data-toggle="modal" data-target="#searchProductsModal" id="searchProducts" type="button" class="btn btn-purple btn-sm">
                                                                    <span class="ace-icon fa fa-search icon-on-right"></span>
                                                                </button>
                                                            </span>
                                        </div>
                                    </div>
                                    <div class="order-input col-sm-4" >
                                        <label for="input_product_description"> Descripción </label>
                                        <div class="form-group">
                                            <input id="input_product_description" type="text" disabled="disabled"  data-bind="value: order.detailModel.productDescription">
                                        </div>
                                    </div>
                                    <div class="order-input col-sm-2">
                                        <label for="input_product_quantity"> Cantidad </label>
                                        <div class="form-group"  data-bind="css:{'has-error':order.detailModel.quantityHasError}">
                                            <input id="input_product_quantity" type="number"  data-bind="value: order.detailModel.quantity" >
                                        </div>
                                    </div>
                                    <div class="order-input col-sm-2" >
                                        <label for="input_product_price"> Precio </label>
                                        <div class="form-group" data-bind="css:{'has-error':order.detailModel.priceHasError}">
                                            <input id="input_product_price" type="number"  data-bind="value:order.detailModel.price" disabled="disabled">
                                        </div>
                                    </div>
                                    <div class="order-input col-sm-2">
                                        <label> </label>
                                        <div class="form-group">
                                            <input type="button" value="Agregar" class="btn btn-info order-input-buttom"  data-bind="click: order.addNewProduct">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="clearfix">
                                            <div class="pull-right tableTools-container"></div>
                                        </div>
                                        <!-- div.table-responsive -->

                                        <!-- div.dataTables_borderWrap -->
                                        <div>
                                            <table class="table table-striped table-bordered table-hover">
                                                <thead>
                                                <tr>
                                                    <th class="center">Codigo</th>
                                                    <th>Descripcion</th>
                                                    <th>Cantidad</th>
                                                    <th>Precio</th>
                                                    <th>Total</th>
                                                    <th></th>
                                                </tr>
                                                </thead>

                                                <tbody data-bind="foreach: order.details">
                                                <tr >
                                                    <td data-bind="text: product_id"></td>
                                                    <td data-bind="text: product_description"></td>
                                                    <td data-bind="text: quantity"></td>
                                                    <td data-bind="text: price"></td>
                                                    <td data-bind="text: total"></td>
                                                    <td>
                                                        <div class="action-buttons">
                                                            <a class="red" data-bind="click: $root.order.deleteProduct">
                                                                <i class="ace-icon fa fa-trash-o bigger-130"></i>
                                                            </a>
                                                        </div>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <div class="row">
                                <div class="col-sm-8">

                                </div>
                                <div class="col-sm-4 pay-container">

                                    <form class="form-horizontal" role="form">

                                        <div class="form-group">
                                            <label class="col-sm-3 control-label no-padding-right" for="input_order_total"> Total </label>

                                            <div class="col-sm-9">
                                                <input id="input_order_total" type="text" data-bind="value:order.total" class="col-sm-12" disabled="disabled" />
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-sm-3 control-label no-padding-right" for="input_order_cash"> Efectivo </label>

                                            <div class="col-sm-9">
                                                <input id="input_order_cash" type="text" data-bind="value:order.paymentAmount" class="col-sm-12" />
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-sm-3 control-label no-padding-right" for="input_order_change"> Devuelta </label>

                                            <div class="col-sm-9">
                                                <input id="input_order_change" type="text" data-bind="value:order.changeAmount" class="col-sm-12" disabled="disabled"  />
                                            </div>
                                        </div>
                                    </form>

                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="widget-box client-history">
                                <div class="widget-header">
                                    <h4 class="widget-title">Historial Cliente</h4>
                                </div>

                                <div class="widget-body">
                                    <div class="widget-main">
                                        <div id="accordion" class="accordion-style1 panel-group">
                                            <div class="panel panel-default">
                                                <div class="panel-heading">
                                                    <h4 class="panel-title">
                                                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                                            <i class="ace-icon fa fa-angle-down bigger-110" data-icon-hide="ace-icon fa fa-angle-down" data-icon-show="ace-icon fa fa-angle-right"></i>
                                                            01/12/2015
                                                        </a>
                                                    </h4>
                                                </div>

                                                <div class="panel-collapse collapse in" id="collapseOne">
                                                    <div class="panel-body">
                                                        <ul>
                                                            <li>1. Pizza Grande</li>
                                                            <li>1. 20 onza Cococola</li>
                                                        </ul>
                                                        <span>Delivery: Pedro Martinez</span>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="panel panel-default">
                                                <div class="panel-heading">
                                                    <h4 class="panel-title">
                                                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                                                            <i class="ace-icon fa fa-angle-right bigger-110" data-icon-hide="ace-icon fa fa-angle-down" data-icon-show="ace-icon fa fa-angle-right"></i>
                                                            01/11/2015
                                                        </a>
                                                    </h4>
                                                </div>

                                                <div class="panel-collapse collapse" id="collapseTwo">
                                                    <div class="panel-body">
                                                        <ul>
                                                            <li>1. Pizza Grande</li>
                                                            <li>1. 20 onza Cococola</li>
                                                        </ul>
                                                        <span>Delivery: Pedro Martinez</span>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="panel panel-default">
                                                <div class="panel-heading">
                                                    <h4 class="panel-title">
                                                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                                                            <i class="ace-icon fa fa-angle-right bigger-110" data-icon-hide="ace-icon fa fa-angle-down" data-icon-show="ace-icon fa fa-angle-right"></i>
                                                            01/10/2015
                                                        </a>
                                                    </h4>
                                                </div>

                                                <div class="panel-collapse collapse" id="collapseThree">
                                                    <div class="panel-body">
                                                        <ul>
                                                            <li>1. Pizza Grande</li>
                                                            <li>1. 20 onza Cococola</li>
                                                        </ul>
                                                        <span>Delivery: Pedro Martinez</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="widget-box menu-widget">
                                <div class="widget-header">
                                    <h4 class="widget-title">Menu</h4>
                                </div>

                                <div class="widget-body">
                                    <div class="widget-main">
                                        <div>
                                            <table class="table table-striped table-bordered table-hover">
                                                <thead>
                                                <tr>
                                                    <th class="center">Codigo</th>
                                                    <th>Descripcion</th>
                                                    <th>Precio</th>
                                                </tr>
                                                </thead>

                                                <tbody data-bind="foreach: menuItems">
                                                <tr>
                                                    <td data-bind="text:id"></td>
                                                    <td data-bind="text:description"></td>
                                                    <td data-bind="text:sell_price"></td>

                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="widget-box open-orders-widget">
                                <div class="widget-header">
                                    <h4 class="widget-title">Ordenes Activas</h4>
                                </div>

                                <div class="widget-body">
                                    <div class="widget-main">
                                        <div>
                                            <table class="table table-striped table-bordered table-hover">
                                                <thead>
                                                <tr>
                                                    <th>Codigo</th>
                                                    <th>Turno</th>
                                                    <th>Total</th>
                                                    <th>Mesa</th>
                                                    <th></th>
                                                </tr>
                                                </thead>

                                                <tbody data-bind="foreach: activeOrders">
                                                <tr>
                                                    <td data-bind="text:id"></td>
                                                    <td data-bind="text:number"></td>
                                                    <td data-bind="text:total"></td>
                                                    <td data-bind="text:sales_area_name"></td>
                                                    <td>
                                                            <a class="blue" data-bind="click: $root.editActiveOrder">
                                                                <i class="ace-icon fa fa-pencil bigger-130"></i>
                                                            </a>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- PAGE CONTENT ENDS -->
                    </div>

                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.page-content -->
        </div>
    </div>
    <!-- /.main-content -->
{% endblock %}

{% block javascript %}
    <script src="{% static "app/pointOfSales.js" %}"></script>
{% endblock javascript %}