{% extends "empty-layout.html" %}
{% load staticfiles %}
{% block styling %}
    <link rel="stylesheet" href="{% static "style/pointOfSale.css" %}" />
    {#    <link rel="stylesheet" href="{% static "assets/css/ui.jqgrid.min.css" %}" />#}
{% endblock styling %}
{% block maincontent %}

    <div id="cashier-shift-view" data-bind="visible: showNewShiftFormView"  style="display: none">
        <div class="page-header">
            <div class="clearfix">
                <div class="col-md-6">
                    <h1>
                        Empezar turno de caja
                    </h1>
                </div>
            </div>
        </div>
        <div class="row">
            {%  include "generic_form.html" %}
        </div>
    </div>

    <div id="point-of-sales-page" class="main-content" data-bind="visible: showPointOfSaleView"  style="display: none">
        <div class="main-content-inner">
            <div class="page-content">

                <div class="row">
                    <div class="col-sm-12">
                        <button class="btn btn-white btn-info btn-bold" data-bind="click:newOrder">
                            <i class="ace-icon fa fa-file-o bigger-120 blue"></i>
                            Nuevo: F2
                        </button>

                        <button class="btn btn-white btn-info btn-bold"  data-bind="click:save">
                            <i class="ace-icon fa fa-floppy-o bigger-120 blue"></i>
                            Guardar: F3
                        </button>

                        <button class="btn btn-white btn-info btn-bold" data-bind="click:openFinishOrderDialog">
                            <i class="ace-icon fa fa-arrow-circle-right bigger-120 blue"></i>
                            Finalizar: F4
                        </button>

                        <button class="btn btn-white btn-info btn-bold" data-bind="click:openCancelOrderDialog">
                            <i class="ace-icon fa fa-arrow-circle-right bigger-120 blue"></i>
                            Cancelar: F5
                        </button>

                        <button class="btn btn-white btn-info btn-bold"  data-bind="click:print">
                            <i class="ace-icon fa fa-print bigger-120 blue"></i>
                            Imprimir: F6
                        </button>

                        <button class="btn btn-white btn-info btn-bold" data-bind="click:showOrders">
                            <i class="ace-icon fa fa-list-ul bigger-120 blue"></i>
                            Facturas: F7
                        </button>

                        <button class="btn btn-white btn-info btn-bold"  data-bind="click:finishShift">
                            <i class="ace-icon fa fa-sign-out bigger-120 blue"></i>
                            Cerrar Caja: F8
                        </button>
                    </div>
                    <div class="col-sm-12">
                        <!-- PAGE CONTENT BEGINS -->
                        <div class="col-sm-8">
                            <div class="row">
                                <div class="widget-header widget-header-large">
                                    <h3 class="inline smaller lighter blue">Orden <span data-bind="visible:order.isNew">Nueva</span></h3>
                                    <div class="widget-toolbar no-border invoice-info" data-bind="visible:order.isEditing">
                                        <span class="invoice-info-label">Turno:</span>
                                        <span class="red"  data-bind="text:order.number" ></span>

                                        <br />
                                        <span class="invoice-info-label">Cajero:</span>
                                        <span class="blue"  data-bind="text:order.username"></span>
                                    </div>

                                    <div class="widget-toolbar no-border invoice-info" data-bind="visible:order.isEditing">
                                        <span class="invoice-info-label">Codigo:</span>
                                        <span class="red"  data-bind="text:order.id"></span>

                                        <br />
                                        <span class="invoice-info-label">Fecha:</span>
                                        <span class="blue"  data-bind="text:order.created_date"></span>
                                    </div>


                                    <div class="widget-toolbar hidden-480">
                                        <a href="#">
                                            <i class="ace-icon fa"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="row">

                                <form class="order-form">


                                    <div class="order-input col-sm-3">
                                        <label for="input_salesarea">Mesa</label>
                                        <div class="form-group">
                                            <select id="input_salesarea" class="form-control" data-bind="
                                                options: salesAreaList,
                                                optionsCaption: '...',
                                                optionsText: 'name',
                                                optionsValue: 'id',
                                                value: order.salesarea
                                                "></select>
                                        </div>
                                    </div>
                                    <div class="singleSelect">
                                        <div class="order-input col-sm-3 center">
                                            <label> Llevar </label>
                                            <div class="form-group">
                                                <label>
                                                    <input data-bind="checked:order.to_go"  class="ace ace-switch" type="checkbox">
                                                    <span class="lbl" data-lbl="SI&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;NO"></span>
                                                </label>
                                            </div>
                                        </div>

                                        <div class="order-input col-sm-3 center">
                                            <label> Para recoger</label>
                                            <div class="form-group">
                                                <label>
                                                    <input data-bind="checked:order.to_pickup"   class="ace ace-switch" type="checkbox">
                                                    <span class="lbl" data-lbl="SI&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;NO"></span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="order-input col-sm-3 center">
                                        <label> Entregada </label>
                                        <div class="form-group">
                                            <label>
                                                <input data-bind="checked:order.delivered"  class="ace ace-switch" type="checkbox">
                                                <span class="lbl" data-lbl="SI&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;NO"></span>
                                            </label>
                                        </div>
                                    </div>


                                </form>
                            </div>
                            <div class="row">

                                <form class="order-form">
                                    <div class="order-input col-sm-2">
                                        <label for="input_phone"> Telefono </label>
                                        <div class="input-group">
                                            <input id="input_phone"  data-bind="value:order.customerPhone"  type="text" class="form-control search-query ">
                                                                <span class="input-group-btn">
                                                                    <button type="button"  class="btn btn-purple btn-sm" data-bind="click:openCustomerSearch">
                                                                        <span class="ace-icon fa fa-search icon-on-right"></span>
                                                                    </button>
                                                                </span>
                                        </div>
                                    </div>
                                    <div class="order-input col-sm-3">
                                        <label for="input_customer_name"> Cliente </label>
                                        <div class="form-group">
                                            <input id="input_customer_name" type="text" data-bind="value:order.customerName, enable: order.customerIsNew" />
                                        </div>
                                    </div>
                                    <div class="order-input col-sm-4">
                                        <label for="input_customer_address"> Direccion </label>
                                        <div class="form-group">
                                            <input id="input_customer_address" type="text" data-bind="value:order.customerAddress" />
                                        </div>
                                    </div>
                                    <div class="order-input col-sm-3">
                                        <label for="input_customer_referene"> Referencia </label>
                                        <div class="form-group">
                                            <input id="input_customer_referene" type="text" data-bind="value:order.customerReference" />
                                        </div>
                                    </div>
                                    <div class="order-input col-sm-12 update-client-status" data-bind=" visible: !order.customerIsNew()">
                                        <label class="middle">
                                            <span class="lbl align-top"> Afectar direccion para futuras ordenes</span>
                                            <input data-bind="checked:order.update_customer_entry" class="ace ace-switch" type="checkbox">
                                            <span class="lbl" data-lbl="SI&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;NO"></span>
                                        </label>
                                    </div>
                                </form>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <h3 class="header smaller lighter blue">Detalle</h3>
                                </div>
                            </div>
                            <form class="order-form">
                                <div class="row">
                                    <div class="order-input col-sm-2">
                                        <label for="input_product_id"> Código </label>
                                        <div class="input-group" data-bind="css:{'has-error':order.detailModel.productIdHasError}">
                                            <input id="input_product_id" type="text" class="form-control search-query" data-bind="value: order.detailModel.productId">
                                                            <span class="input-group-btn">
                                                                <button   data-bind="click:openProductSearch" id="searchProducts" type="button" class="btn btn-purple btn-sm">
                                                                    <span class="ace-icon fa fa-search icon-on-right"></span>
                                                                </button>
                                                            </span>
                                        </div>
                                    </div>
                                    <div class="order-input col-sm-4" >
                                        <label for="input_product_description"> Descripción </label>
                                        <div class="form-group">
                                            <input id="input_product_description" type="text" disabled="disabled"  data-bind="value: order.detailModel.productDescription">
                                        </div>
                                    </div>
                                    <div class="order-input col-sm-2">
                                        <label for="input_product_quantity"> Cantidad </label>
                                        <div class="form-group"  data-bind="css:{'has-error':order.detailModel.quantityHasError}">
                                            <input id="input_product_quantity" type="number"  data-bind="value: order.detailModel.quantity" class="align-right" >
                                        </div>
                                    </div>
                                    <div class="order-input col-sm-2" >
                                        <label for="input_product_price"> Precio </label>
                                        <div class="form-group" data-bind="css:{'has-error':order.detailModel.priceHasError}">
                                            <input id="input_product_price" type="number"  data-bind="value:order.detailModel.price" disabled="disabled"  class="align-right">
                                        </div>
                                    </div>
                                    <div class="order-input col-sm-2">
                                        <label> </label>
                                        <div class="form-group">
                                            <input type="button" value="Agregar" class="btn btn-info order-input-buttom"  data-bind="click: order.addNewProduct"  class="align-right">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="clearfix">
                                            <div class="pull-right tableTools-container"></div>
                                        </div>
                                        <!-- div.table-responsive -->

                                        <!-- div.dataTables_borderWrap -->
                                        <div class="detail-table-header">
                                            <table class="table table-striped table-bordered table-hover  table-condensed">
                                                <thead>
                                                <tr>
                                                    <th style="width: 100px;" class="center">Codigo</th>
                                                    <th>Descripcion</th>
                                                    <th style="width: 100px;" class="align-center">Cantidad</th>
                                                    <th style="width: 100px;" class="align-right">Precio</th>
                                                    <th style="width: 100px;" class="align-right">Total</th>
                                                    <th style="width: 80px;"></th>
                                                </tr>
                                                </thead>

                                                <tbody>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="detail-table-body">
                                            <table class="table table-striped table-hover  table-condensed ">
                                                <thead>
                                                <tr>
                                                    <th style="width: 100px;" class="center">Codigo</th>
                                                    <th>Descripcion</th>
                                                    <th style="width: 100px;"  >Cantidad</th>
                                                    <th style="width: 100px;" class="align-right">Precio</th>
                                                    <th style="width: 100px;" class="align-right">Total</th>
                                                    <th style="width: 80px;"></th>
                                                </tr>
                                                </thead>

                                                <tbody data-bind="foreach: order.details">
                                                <tr >
                                                    <td style="width: 100px;" data-bind="text: product_id"></td>
                                                    <td data-bind="text: product_description"></td>
                                                    <td style="width: 100px;" data-bind="text: quantity" class="align-center"></td>
                                                    <td style="width: 100px;" data-bind="text: PEPPERONI.formatAsMoney(price)" class="align-right"></td>
                                                    <td style="width: 100px;" data-bind="text: PEPPERONI.formatAsMoney(total)" class="align-right"></td>
                                                    <td style="width: 80px;" >
                                                        <div class="action-buttons">
                                                            <a class="red" data-bind="click: $root.order.deleteProduct">
                                                                <i class="ace-icon fa fa-trash-o bigger-130"></i>
                                                            </a>
                                                        </div>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <div class="row">

                                <div class="col-sm-12 pay-container">

                                    <form class="form-horizontal" role="form">

                                        <div class="col-sm-4">
                                            <label class="col-sm-4 control-label no-padding-right" for="input_order_cash2"> Efectivo </label>

                                            <div class="col-sm-8">
                                                <input id="input_order_cash2" type="text" data-bind="value:order.paymentAmount" 
                                                class="col-sm-12" disabled="disabled" />
                                            </div>
                                        </div>


                                        <div class="col-sm-4">
                                            <label class="col-sm-4 control-label no-padding-right" for="input_order_total2"> Total </label>

                                            <div class="col-sm-8">
                                                <input id="input_order_total2" type="text" data-bind="value:order.total" class="col-sm-12" disabled="disabled" />
                                            </div>
                                        </div>

                                        <div class="col-sm-4">
                                            <label class="col-sm-4 control-label no-padding-right" for="input_order_change2"> Devuelta </label>

                                            <div class="col-sm-8">
                                                <input id="input_order_change2" type="text" data-bind="value:order.changeAmount" class="col-sm-12" disabled="disabled"  />
                                            </div>
                                        </div>
                                    </form>

                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4 column-right ">

                            <div class="widget-box menu-widget">
                                <div class="widget-header">
                                    <h4 class="widget-title">Menu</h4>
                                </div>

                                <div class="widget-body">
                                    <div class="widget-main">
                                        <div>
                                            <table class="table table-striped table-bordered table-hover table-condensed ">
                                                <thead>
                                                <tr>
                                                    <th class="center">Codigo</th>
                                                    <th>Descripcion</th>
                                                    <th  class="align-right">Precio</th>
                                                </tr>
                                                </thead>

                                                <tbody data-bind="foreach: menuItems">
                                                <tr data-bind="click:$root.order.detailModel.addItemToDetailEditor">
                                                    <td data-bind="text:id"></td>
                                                    <td data-bind="text:description"></td>
                                                    <td data-bind="text: PEPPERONI.formatAsMoney(sell_price)"  class="align-right"></td>

                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="widget-box open-orders-widget">
                                <div class="widget-header">
                                    <h4 class="widget-title">Ordenes Activas</h4>
                                </div>

                                <div class="widget-body">
                                    <div class="widget-main">
                                        <div>
                                            <table class="table table-striped table-bordered table-hover table-condensed ">
                                                <thead>
                                                <tr>
                                                    <th>Codigo</th>
                                                    <th>Turno</th>
                                                    <th  class="align-right">Total</th>
                                                    <th>Mesa</th>
                                                    <th></th>
                                                </tr>
                                                </thead>

                                                <tbody data-bind="foreach: activeOrders">
                                                <tr>
                                                    <td data-bind="text:id"></td>
                                                    <td data-bind="text:number"></td>
                                                    <td data-bind="text:PEPPERONI.formatAsMoney(total) "  class="align-right"></td>
                                                    <td data-bind="text:sales_area_name"></td>
                                                    <td>
                                                        <a class="blue" data-bind="click: $root.editActiveOrder">
                                                            <i class="ace-icon fa fa-pencil bigger-130"></i>
                                                        </a>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="widget-box client-history" data-bind="visible:customerHasOrdered">
                                <div class="widget-header">
                                    <h4 class="widget-title">Historial Cliente</h4>
                                </div>

                                <div class="widget-body">
                                    <div class="widget-main">
                                        <div id="accordion" class="accordion-style1 panel-group">
                                            <div class="panel panel-default" data-bind="foreach:customerLastOrders">
                                                <div class="panel-heading">
                                                    <h4 class="panel-title">
                                                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" data-bind="attr:{href:'#collapse_'+id}">
                                                            <i class="ace-icon fa fa-angle-down bigger-110" data-icon-hide="ace-icon fa fa-angle-down" data-icon-show="ace-icon fa fa-angle-right"></i>
                                                            <span data-bind="text:PEPPERONI.longDateFormat(created_date)"></span>
                                                        </a>
                                                    </h4>
                                                </div>

                                                <div class="panel-collapse collapse"  data-bind="attr:{id:'collapse_'+id}">
                                                    <div class="panel-body">
                                                        <ul data-bind="foreach: details">
                                                            <li><span data-bind="text:quantity +' x '+ product_description"></span></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- PAGE CONTENT ENDS -->
                    </div>

                    <!-- /.col -->
                </div>


                <!-- /.row -->
            </div>
            <!-- /.page-content -->
        </div>
        <div id="search-dialog">
            <div class="modal fade" id="searchClientsModal" role="dialog" data-backdrop="static" aria-hidden="true" tabindex='-1'>
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <!-- Modal Header -->
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">
                                <span aria-hidden="true">&times;</span>
                                <span class="sr-only"></span>
                            </button>
                            <h4 class="modal-title">Buscar cliente</h4>
                        </div>

                        <!-- Modal Body -->
                        <div class="modal-body">
                            <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="search_customer_modal">
                                <thead>
                                <tr>
                                    <th name="phone">Telefono</th>
                                    <th name="name">Descripcion</th>
                                    <th name="address">Direccion</th>
                                    <th name="reference">Referencia</th>
                                </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                        <!-- Modal Footer -->
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal"> Cancelar </button>
                            <button type="button" class="btn btn-primary" style="display: none"> Agregar </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="finishOrderModal" role="dialog" data-backdrop="static" aria-hidden="true" tabindex='-1'>
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <!-- Modal Header -->
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">
                                <span aria-hidden="true">&times;</span>
                                <span class="sr-only"></span>
                            </button>
                            <h4 class="modal-title">Finalizar Orden</h4>
                        </div>

                        <!-- Modal Body -->
                        <div class="modal-body">
                            <div class="row">

                                <div class="col-sm-12">

                                    <form class="form-horizontal" role="form"  data-bind="visible:showLastClientChange">

                                        <div class="form-group">
                                            <label class="col-sm-4 control-label" for="input_order_cash3"> Efectivo </label>

                                            <div class="col-sm-4">
                                                <input id="input_order_cash3" type="text" data-bind="value:lastPaymentAmount" class="col-sm-12" disabled="disabled" />
                                            </div>
                                        </div>

                                        <div class="form-group ">
                                            <label class="col-sm-4 control-label" for="input_order_total3"> Total </label>

                                            <div class="col-sm-4">
                                                <input id="input_order_total3" type="text" data-bind="value:lastTotal" class="col-sm-12" disabled="disabled" />
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-sm-4 control-label" for="input_order_change3"> Devuelta </label>

                                            <div class="col-sm-4">
                                                <input id="input_order_change3" type="text" data-bind="value:lastChangeAmount" class="col-sm-12" disabled="disabled"  />
                                            </div>
                                        </div>
                                    </form>


                                    <form class="form-horizontal" role="form" data-bind="visible:showFinishButton">

                                        <div class="form-group">
                                            <label class="col-sm-4 control-label" for="input_order_cash"> Efectivo </label>

                                            <div class="col-sm-4">
                                                <input id="input_order_cash" type="text" data-bind="value:order.paymentAmount" 
                                                class="col-sm-12" />
                                            </div>
                                        </div>

                                        <div class="form-group ">
                                            <label class="col-sm-4 control-label" for="input_order_total"> Total </label>

                                            <div class="col-sm-4">
                                                <input id="input_order_total" type="text" data-bind="value:order.total" class="col-sm-12" disabled="disabled" />
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-sm-4 control-label" for="input_order_change"> Devuelta </label>

                                            <div class="col-sm-4">
                                                <input id="input_order_change" type="text" data-bind="value:order.changeAmount" class="col-sm-12" disabled="disabled"  />
                                            </div>
                                        </div>
                                    </form>

                                </div>
                            </div>
                        </div>
                        <!-- Modal Footer -->
                        <div class="modal-footer">
                            <button type="button" id="modal-finish-button" class="btn btn-primary" data-bind="click:finish, visible:showFinishButton" > Finalizar </button>
                            <button type="button" class="btn btn-default" data-dismiss="modal"> Cerrar </button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- kasdfjaskidjakld -->
             <div class="modal fade" id="cancelOrderModal" role="dialog" data-backdrop="static" aria-hidden="true" tabindex='-1'>
                <div class="modal-dialog modal-md">
                    <div class="modal-content">
                        <!-- Modal Header -->
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">
                                <span aria-hidden="true">&times;</span>
                                <span class="sr-only"></span>
                            </button>
                            <h4 class="modal-title">¿Desea cancelar esta órden?</h4>
                        </div>
                        <!-- Modal Footer -->
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal"> Cerrar </button>
                            <button type="button" class="btn btn-primary" data-bind="click:cancel" > Cancelar órden</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- asaosjaosjiasij -->

            <div class="modal fade" id="searchOrderModal" role="dialog" data-backdrop="static" aria-hidden="true" tabindex='-1'>
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <!-- Modal Header -->
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">
                                <span aria-hidden="true">&times;</span>
                                <span class="sr-only"></span>
                            </button>
                            <h4 class="modal-title">Buscar Orden</h4>
                        </div>
                        <!-- Modal Body -->
                        <div class="modal-body">
                            <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="search_order_modal">
                                <thead>
                                <tr>
                                    <th name="id">Codigo</th>
                                    <th name="created_date" data-type="datetime">Fecha</th>
                                    <th name="status" data-type="status">Estado</th>
                                    <th name="customer_phone">Telefono</th>
                                    <th name="customer_name">Cliente</th>
                                    <th name="total"  data-type="money" class="align-right">Total</th>
                                    <th name="to_go"  data-type="boolean" class="align-center">LLevar</th>
                                    <th name="delivered" data-type="check-switch" class="align-center">Entregada</th>
                                    <th name="id" data-type="view-action"></th>
                                </tr>
                                </thead>
                                <tbody>
                                </tbody>

                            </table>
                        </div>
                        <!-- Modal Footer -->
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal"> Cancelar </button>
                            <button type="button" class="btn btn-primary" style="display: none"> Agregar </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="searchProductsModal" role="dialog" data-backdrop="static" aria-hidden="true" tabindex='-1'>
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <!-- Modal Header -->
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">
                                <span aria-hidden="true">&times;</span>
                                <span class="sr-only"></span>
                            </button>
                            <h4 class="modal-title">Buscar item</h4>
                        </div>

                        <!-- Modal Body -->
                        <div class="modal-body">
                            <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="search_product_modal">
                                <thead>
                                <tr>
                                    <th name="id">Codigo</th>
                                    <th name="description">Descripcion</th>
                                    <th name="sell_price" data-type="money" class="align-right">Precio</th>
                                </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                        <!-- Modal Footer -->
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal"> Cancelar </button>
                            <button type="button" class="btn btn-primary" style="display: none"> Agregar </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="finish-shift-view" data-bind="visible: showFinishSwiftView" style="display: none">
        <div class="page-header">
            <div class="clearfix">
                <div class="col-md-6">
                    <h1>
                        Finalizar turno
                    </h1>
                </div>
            </div>
        </div>

        <div class="main-content-inner">
            <div class="page-content">
                <div class="row">
                    <div>
                        <form class="finish-shift-form">
                            <div class="col-sm-12">
                                <div class="order-input col-sm-2">
                                    <label for="input_total_register"> Total caja </label>
                                    <div class="form-group">
                                        <input id="input_total_register" type="number" data-bind="value:totalRegister" disabled="disabled"  />
                                    </div>
                                </div>
                                <div class="order-input col-sm-2">
                                    <label for="input_customer_address"> Balance inicial </label>
                                    <div class="form-group">
                                        <input id="input_customer_address" type="text" data-bind="value:startBalance" disabled="disabled" />
                                    </div>
                                </div>
                                <div class="order-input col-sm-2">
                                    <label for="input_customer_address"> Total vendidos </label>
                                    <div class="form-group">
                                        <input id="input_customer_address" type="text" data-bind="value:totalFinished" disabled="disabled" />
                                    </div>
                                </div>
                                <div class="order-input col-sm-2">
                                    <label for="input_customer_address"> Diferencia </label>
                                    <div class="form-group">
                                        <input id="input_customer_address" type="text" data-bind="value:difference" disabled="disabled" />
                                    </div>
                                </div>
                                <div class="order-input col-sm-2">
                                    <label for="input_customer_address"> Total no entregadas </label>
                                    <div class="form-group">
                                        <input id="input_customer_address" type="text" data-bind="value:totalNotDelivered" disabled="disabled" />
                                    </div>
                                </div>

                            </div>
                            <div class="col-sm-12">
                                <div class="order-input col-sm-8">
                                    <label >  </label>
                                    <div class="form-group">
                                        <input type="button" class="btn btn-default" data-bind="click:openUpdateTotalRegisterModal" value="Total en caja">
                                        <input type="button" class="btn btn-default" data-bind="click:finishShift" value="Terminar Turno">
                                        <input type="button" class="btn btn-default " data-bind="click:printCurrentStock" value="Imprimir inventario "> 
                                        <input type="button" class="btn btn-grey" data-bind="click:cancel" value="Cancelar">
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-md-12 order-review">
                        <div class="col-md-12">
                            <!-- ko template: {name: "orders-history-template", data :{ title:"Ordenes activas", total: totalActive,totalNotDelivered: false,  orders:activeOrders, toggleDetails: $root.toggleDetails} } -->
                            <!-- /ko -->
                        </div>
                        <div class="col-md-12">
                            <!-- ko template: {name: "orders-history-template", data:{ title:"Ordenes nulas", total: totalVoid,totalNotDelivered: false, orders:voidOrders, toggleDetails: $root.toggleDetails }} -->
                            <!-- /ko -->
                        </div>
                        <div class="col-md-12">
                            <!-- ko template: {name: "orders-history-template", data:{ title:"Ordenes terminadas", total: totalFinished, totalNotDelivered: false, orders:finishedOrders, toggleDetails: $root.toggleDetails} } -->
                            <!-- /ko -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="moneyModal" role="dialog" data-backdrop="static" aria-hidden="true" tabindex='-1'>
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <!-- Modal Header -->
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">
                                <span aria-hidden="true">&times;</span>
                                <span class="sr-only"></span>
                            </button>
                            <h4 class="modal-title">Total efectivo en caja: <span data-bind="text:tempTotalRegister"></span></h4>
                        </div>
                        <!-- Modal Body -->
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="money-details" role="form"  data-bind="foreach:moneyDetails">
                                        <div class="row">
                                            <div class="col-sm-offset-4 col-sm-8">
                                                <input type="number" data-bind="value:count" class="col-sm-2 align-right" />
                                                <input type="numeric" data-bind="value:value" class="col-sm-2 align-right" disabled="disabled" />
                                                <input type="text" data-bind="value:total" class="col-sm-2 align-right" disabled="disabled" />
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Modal Footer -->
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal"> Cancelar </button>
                            <button type="button" id="modal-finish-button" class="btn btn-primary" data-bind="click:updateTotalRegister" > Seguir </button>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
    <!-- /.main-content -->
{% endblock %}



{% block javascript %}
    {#    <script src="{% static "assets/js/jquery.jqGrid.min.js" %}"></script>#}
    {#    <script src="{% static "assets/js/grid.locale-en.js" %}"></script>#}

    <script type="text/html" id="orders-history-template">
        <h3 class="header smaller lighter blue" data-bind="text:title"></h3>
        <table cellpadding="0" cellspacing="0" border="0" class="table table-bordered table-hover order-review-table table-condensed ">
            <thead>
            <tr>
                <th>Codigo</th>
                <th>Fecha</th>
                <th>Telefono</th>
                <th>Cliente</th>
                <th class="align-right">Total</th>
                <th class="align-center">LLevar</th>
                <th class="align-center">Entregada</th>
            </tr>
            </thead>
            <tbody data-bind="foreach:orders">
            <tr data-bind="click:$root.toggleDetails, css: { 'odd': ($index() % 2 !== 0) }">
                <td data-bind="text:id"></td>
                <td data-bind="text:PEPPERONI.longDateFormat(created_date)"></td>
                <td data-bind="text:customer_phone"></td>
                <td data-bind="text:customer_name"></td>
                <td class="align-right" data-bind="text:total"></td>
                <td>
                    <!-- ko if: to_go -->
                    <div class="action-buttons"><a class="edit green"><i class="fa fa-check bigger-130"></i></a></div>
                    <!-- /ko  -->
                </td>
                <td>
                    <!-- ko if: delivered -->
                    <div class="action-buttons"><a class="edit green"><i class="fa fa-check bigger-130"></i></a></div>
                    <!-- /ko  -->
                </td>
            </tr>
            <tr class="detail-container" style="display: none" data-bind="visible:showDetails">
                <td colspan="7" >
                    <table cellpadding="0" cellspacing="0" border="0" class="table table-condensed detail-table">
                        <thead>
                        <tr>
                            <th>Codigo</th>
                            <th>Producto</th>
                            <th class="align-right">Cantidad</th>
                            <th class="align-right">Precio</th>
                            <th class="align-right">Total</th>
                        </tr>
                        </thead>
                        <tbody data-bind="foreach:details">
                        <tr>
                            <td data-bind="text:product_id"></td>
                            <td data-bind="text:product_description"></td>
                            <td class="align-right" data-bind="text:quantity"></td>
                            <td class="align-right" data-bind="text:PEPPERONI.formatAsMoney(price)"></td>
                            <td class="align-right" data-bind="text:PEPPERONI.formatAsMoney(total)"></td>
                        </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="col-sm-12 form-horizontal">
            <div class="order-input col-sm-4 float-right">
                <label class="col-sm-4 control-label" >Total</label>
                <div class="form-group col-sm-8">
                    <input type="text" data-bind="value:total" disabled="disabled" class="align-right" />
                </div>
            </div>
            <!-- ko if: totalNotDelivered -->
            <div class="order-input col-sm-3">
                <label for="input_customer_address"> Total no entregadas </label>
                <div class="form-group">
                    <input id="input_customer_address" type="text" data-bind="value:totalNotDelivered" disabled="disabled" class="align-right" />
                </div>
            </div>
            <!-- /ko  -->
        </div>
    </script>

    <script src="{% static "assets/js/shortcut.js" %}"></script>
    <script src="{% static "app/pointOfSales.js" %}"></script>
{% endblock javascript %}