{% extends "menu-layout.html" %}
{% load staticfiles %}
{% block styling %}
    <link rel="stylesheet" href="{% static "assets/css/jquery-ui.min.css" %}" />
    <link rel="stylesheet" href="{% static "assets/css/bootstrap-multiselect.min.css" %}" /> 
    <link rel="stylesheet" href="{% static "assets/css/jquery.tokenize.css" %}" />     
    <link rel="stylesheet" href="{% static "style/salesReport.css" %}" />     
{% endblock styling %}
{% block content %}
    <div class="page-header">
        <h1>        
            Reporte Ventas
        </h1>
    </div>
<section id="sales-report-content">
        <div class="row">
            <div class="col-md-2 col-lg-2 col-lg-offset-4 col-md-offset-4">
                <label>Desde</label>
                <div class="input-group input-group-sm">
                    <input type="text" data-bind="value: startDate" id="start-datepicker" class="form-control" />
                    <span class="input-group-addon">
                        <i class="ace-icon fa fa-calendar"></i>
                    </span>
                </div>
            </div>
            <div class="col-md-2  col-lg-2">
                <label>Hasta</label>
                <div class="input-group input-group-sm">
                    <input type="text" data-bind="value: endDate" id="end-datepicker" class="form-control" />
                    <span class="input-group-addon">
                        <i class="ace-icon fa fa-calendar"></i>
                    </span>
                </div>
            </div>
    </div>

    <div class="row">
        <div class="col-md-12  col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <a href="#products-box" data-parent="#faq-list-1" data-toggle="collapse" class="accordion-toggle collapsed">
                        <i class="ace-icon fa fa-chevron-left pull-right" data-icon-hide="ace-icon fa fa-chevron-down" data-icon-show="ace-icon fa fa-chevron-left"></i>

                        <i class="ace-icon fa fa-cutlery bigger-130"></i>
                        Filtrar por productos
                    </a>
                </div>
                <div class="panel-collapse collapse" id="products-box">
                    <div class="panel-body">
                        <div class="panel panel-default">
                            <label>Productos </label>
                            <small class="pull-right"> Escriba parte del nombre del producto a agregar</small>
                             <select id="product-selection" data-bind="options: productList,
                                                                       optionsText: 'description',
                                                                       optionsValue: 'id',
                                                                       optionsCaption: ''"></select>

                        </div>
                    </div>
                </div>
            </div0>
           </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-2 pull-right">
            <button class="btn btn-primary" data-bind="click: runReport">Ver reporte</button>
        </div>
    </div>
    <div class="row pullDown" data-bind="visible: showReportTable" style="display: none">    
        <div id="table-container" class="col-xs-12">
            <table id="sales-report-table" class="table table-striped table-bordered table-hover">
                <thead>
                <tr>
                    <th name="product">Producto</th>
                    <th name="price">Precio</th>
                    <th name="quantity">Cantidad</th>
                    <th name="sales">Ventas</th>
                    <th name="difference">Balance</th>
                </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</section>
{% endblock %}
{% block javascript %}
    <script src="{% static "assets/js/jquery-ui.min.js" %}"></script>
    <script src="{% static "assets/js/jquery.tokenize.js" %}"></script>
    <script src="{% static "app/salesReport.js" %}"></script>
{% endblock javascript %}
