{% extends "menu-layout.html" %}
{% load staticfiles %}
{% block styling %}
    <link rel="stylesheet" href="{% static "style/outputTransaction.css" %}" />
{% endblock styling %}
{% block content %}

    <div id="inventory-input-view">
        <div class="page-header">
            <div class="clearfix">
                <div class="col-md-6">
                    <h1>
                        Transferencia de Almacen
                    </h1>
                </div>
                <div class="col-md-6 align-right "  data-bind="visible: canCreateNew">
                    <button class="btn" data-bind="click:addNew">Nueva Transferencia</button>
                </div>
            </div>
        </div>
        <div data-bind="visible: showDetailMode" style="display: none;">
            <div class="profile-user-info profile-user-info-striped">
                <div class="profile-info-row">
                    <div class="profile-info-name"> Código </div>

                    <div class="profile-info-value">
                        <span data-bind="text: transactionId"></span>
                    </div>
                </div>
                <div class="profile-info-row">
                    <div class="profile-info-name"> Tipo </div>

                    <div class="profile-info-value">
                        <span data-bind="text: inputDescription"></span>
                    </div>
                </div>

                <div class="profile-info-row">
                    <div class="profile-info-name"> Origen </div>

                    <div class="profile-info-value">
                        <span data-bind="text: warehouse"></span>
                    </div>
                </div>

                <div class="profile-info-row">
                    <div class="profile-info-name"> Destino </div>

                    <div class="profile-info-value">
                        <span data-bind="text: warehouse_transfer_description"></span>
                    </div>
                </div>

                <div class="profile-info-row">
                    <div class="profile-info-name"> Fecha </div>

                    <div class="profile-info-value">
                        <span data-bind="text: transactionDate"></span>
                    </div>
                </div>

                <div class="profile-info-row">
                    <div class="profile-info-name"> Nota </div>

                    <div class="profile-info-value">
                        <span data-bind="text: note"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" data-bind="visible: creationMode">
            <form id="form_view" class="form-horizontal">
                {% csrf_token %}
                <div data-bind="foreach: fields">
                    <!-- ko template: {name: fieldTemplate, data:$data} -->
                    <!-- /ko -->
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <h3 class="header smaller lighter blue">Detalle</h3>
                    </div>
                </div>

                <div class="row order-form">

                    <div class="order-input col-sm-2">
                        <label> Código </label>
                        <div class="input-group" data-bind="css:{'has-error':productIdHasError}">
                            <input type="text" class="form-control search-query" data-bind="value: productId">
                            <span class="input-group-btn">
                                <button   data-bind="click:openProductSearch" id="searchProducts"
                                          type="button" class="btn btn-purple   btn-sm">
                                    <span class="ace-icon fa fa-search icon-on-right"></span>
                                </button>
                            </span>
                        </div>
                    </div>
                    <div class="order-input col-sm-4" >
                        <label> Descripción </label>
                        <div class="form-group">
                            <input type="text" disabled="disabled"  data-bind="value: productDescription">
                        </div>
                    </div>
                    <div class="order-input col-sm-2">
                        <label> Cantidad </label>
                        <div class="form-group"  data-bind="css:{'has-error':quantityHasError}">
                            <input type="number"  data-bind="value: quantity" >
                        </div>
                    </div>
                    <div class="order-input col-sm-2" >
                        <label> Costo </label>
                        <div class="form-group" data-bind="css:{'has-error':priceHasError}">
                            <input type="number"  data-bind="value: price">
                        </div>
                    </div>
                    <div class="order-input col-sm-2">
                        <label> </label>
                        <div class="form-group">
                            <input type="button" value="Agregar" class="btn btn-info order-input-buttom"  data-bind="click: addNewProduct">
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div data-bind="visible: showDetailMode() || creationMode()">
            <div class="row">
                <div class="col-xs-12">
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                        <tr>
                            <th class="center">Código</th>
                            <th>Descripción</th>
                            <th>Cantidad</th>
                            <th class="align-right">Costo</th>
                            <th class="align-right">Total</th>
                        </tr>
                        </thead>

                        <tbody data-bind="foreach: orderDetails">
                        <tr >
                            <td data-bind="text: product_id"></td>
                            <td data-bind="text: product_description"></td>
                            <td data-bind="text: quantity"></td>
                            <td data-bind="text: PEPPERONI.formatAsMoney(price)" class="align-right"></td>
                            <td data-bind="text: PEPPERONI.formatAsMoney(total)" class="align-right"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="clearfix form-actions center">
                <div class="col-md-offset-2 col-md-8">
                    <button type="button" class="btn btn-info submit-button" type="button"  data-bind="click: save, visible: !showDetailMode() || creationMode() ">
                        <i class="ace-icon fa fa-check bigger-110"></i> Guardar</button>
                    &nbsp; &nbsp; &nbsp;
                    <button class="btn cancel-button" type="button"
                            data-bind="click: cancel, text: showDetailMode() ? 'Atrás' : 'Cancelar' ">
                        <i class="ace-icon fa fa-undo bigger-110"></i></button>
                </div>
            </div>
        </div>
        <div class="row" data-bind="visible: showList">
            <div id="table-container" class="col-xs-12">
                <table id="dynamic-table" class="table table-striped table-bordered table-hover">
                    <thead>
                    <tr>
                        <th name="id">Código</th>
                        <th name="warehouse_description">Desde Almacen</th>
                        <th name="warehouse_transfer_description">Hasta Almacen</th>
                        <th name="transaction_date" type="datetime">Fecha</th>
                        <th name="id" data-type="view-action">Acción</th>
                    </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="modal fade" id="searchProductsModal" role="dialog" data-backdrop="static" aria-hidden="true" tabindex='-1'>
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                        <span class="sr-only"></span>
                    </button>
                    <h4 class="modal-title">Buscar item</h4>
                </div>

                <!-- Modal Body -->
                <div class="modal-body">
                    <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="search_product_modal">
                        <thead>
                        <tr>
                            <th name="product_id">Codigo</th>
                            <th name="product_description">Descripcion</th>
                            <th name="cost" data-type="money" class="align-right">Costo</th>
                        </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
                <!-- Modal Footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal"> Cancelar </button>
                    <button type="button" class="btn btn-primary" style="display: none"> Agregar </button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block javascript %}
    <script src="{% static "app/inventoryTransfer.js" %}"></script>
{% endblock javascript %}
