{% extends "menu-layout.html" %}
{% load staticfiles %}
{% block content %}
    <div class="page-header">
        <h1>
            Productos
        </h1>
    </div>

    <div class="row">
        {%  include "generic_form.html" %}
    </div>

    <div class="row">
        <div id="table-container" class="col-xs-12">
            <table id="dynamic-table" class="table table-striped table-bordered table-hover">
                <thead>
                <tr>
                    <th name="id">Codigo</th>
                    <th name="description">Descripcion</th>
                    <th name="unit_quantity">Cantidad</th>
                    <th name="unit_of_measure_description" >Unidad</th>
                    <th name="sell_price" data-type="money" class="align-right">Precio</th>
                    <th name="show_in_menu" data-type="boolean">Mostrar en menu</th>
                    <th name="is_raw_material" data-type="boolean">Materia Prima</th>
                    <th name="id" data-type="edit-action"></th>
                </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
{% endblock %}
{% block javascript %}
    <script src="{% static "app/products.js" %}"></script>
{% endblock javascript %}
