/*Generics css here*/

#inventory-input-view .order-form input {
    width: 100%
}
#inventory-input-view .order-form .form-group {
    padding-right: 8px;
}
.order-input {
}

.order-input-buttom {
}

.action-buttons{
    width: 60px;
    text-align: center;
    margin: auto;
}

.alert {
    position: fixed;
    top: 89px;
    left: 188px;
    margin-left: auto;
    z-index: 50;
    width: 500px;
}

.float-right{
    float: right;
}

.align-right{
    text-align: right;
}