.money-details input{
    padding: 1px;
    padding-right: 3px;
    margin: 2px;
}

html, body {
    height: 100%;
    overflow: hidden;
}

#finishOrderModal .modal-dialog{
    top:125px;
}

.page-content{
    padding: 5px;
}

.column-right{
    height: 709px;
    overflow: hidden;
}
 .order-review {
    height: 600px;
    overflow: auto;
}
.column-right .widget-box{
    height: 33%;
}

.column-right .widget-box .widget-main {
    height: 200px;
    overflow: auto;
}

.header {
    margin-top: -6px;
    margin-bottom: 0px;
}
.order-form input {
    width: 100%
}

.order-input {
    padding: 4px;
}

.order-input-buttom {
    padding-left: 8px;
}

.client-history .widget-main {
    height: 190px;
    overflow-y: auto;
}

.update-client-status {
    margin-top: -6px;
    text-align: right;
    margin-bottom: -34px;
    z-index: 20;
}
.form-group {
    margin-bottom: 5px;
}

.pay-container input, .pay-container .form-group input[disabled], .pay-container .form-group input:disabled{
    text-align: right;
    color:black!important;
}

.table-hover>tbody>tr:not(.detail-container):hover {
    background-color: lightblue!important;
}

.table.order-review-table .table.detail-table {
    width: 80%;
}

.table.order-review-table .table.detail-table thead tr{
    background-image: none;
    background-color: #F5F5F5;
}

.table.order-review-table>tbody>tr.odd {
    background-color: #f9f9f9;
}

.table.order-review-table tr.detail-container{
    background-color: mintcream;
}

.detail-table-header table{
    margin-bottom: 0;
}
.detail-table-body table thead {
    display: none;
}

.detail-table-body {
    height: 200px;
    overflow: auto;
}

.footer{
    display: none;
}
@media(min-width:700px) {}

#input_phone, #input_customer_name, #input_customer_address, #input_customer_referene{
    font-size: 12px;
}