{% extends "menu-layout.html" %}
 {% block content %}
     <div class="page-header">
        <h1>
            Productos
        </h1>
    </div>
     <form class="form-horizontal" action="/products/create" method="post">
         {% include "auto_form.html" %}
         <div class="clearfix form-actions center">
            <div class="col-md-offset-3 col-md-9">
                <button type="button" class="btn btn-info submit-button" type="button">
                    <i class="ace-icon fa fa-check bigger-110"></i>
                    Submit
                </button>

                &nbsp; &nbsp; &nbsp;
                <button class="btn" type="reset">
                    <i class="ace-icon fa fa-undo bigger-110"></i>
                    Reset
                </button>
            </div>
        </div>
     </form>

 {% endblock %}
{% block javascript %}
     <script>
     $(document).ready(function () {
            $('.submit-button').click('submit', function(e) {
        e.preventDefault();
        $.ajax({
            url : '/api/products/?format=json',
            type: "post",
            data: $('form').serializeJSON(),
            success: function (data) {
                $("#form_output").html(data);
            },
            error: function (jXHR, textStatus, errorThrown) {
                alert(errorThrown);
            }
        });
    });
     });

</script>
    {% endblock javascript %}
