<div class="clearfix form-actions center">
    <div class="col-md-offset-3 col-md-9">
        <button type="button" class="btn btn-info submit-button" type="button"  data-bind="click: save">
            <i class="ace-icon fa fa-check bigger-110"></i>
            Guardar
        </button>

        &nbsp; &nbsp; &nbsp;
        <button class="btn cancel-button" type="button"  data-bind="click: cancel">
            <i class="ace-icon fa fa-undo bigger-110"></i>
            Cancelar
        </button>
    </div>
</div>
