<script>
    (function(){

        var _form = $('form');
        var isEditMode = false;
        var currentItemId = 0;
        var datatable = $('#dynamic-table').dataTable({data:[]});

        var cancel_form = function(){
            _form.get(0).reset();
            isEditMode=false;
            currentItemId = 0;
        };
        var edit_form = function(id){
            $.ajax({
                url : {{ link }}+ id + '?format=json',
                type: "get",
                data: {},
                success: function (response) {
                    for(property in response){
                        if(response.hasOwnProperty(property)){
                            var element = _form.find('#id_'+property);
                            if(element) {

                                if(element.attr("type")==="checkbox"){
                                    element.prop('checked', response[property]===true);
                                }else {
                                      element.val(response[property]);
                                }

                            }
                        }
                    }
                    isEditMode=true;
                    currentItemId = id;
                },
                error: function (jXHR, textStatus, errorThrown) {
                    alert(errorThrown);
                }
            });
        };

        var load_datatable = function(data){
            datatable.fnClearTable();
            datatable.fnAddData(data);
            datatable.find('.action-buttons .edit').click(function(){
                var id = $(this).data("item-id");
                edit_form(id);
            });
        };

        var reload_datatable = function(){
            $.ajax({
                url : {{ link }} + '?format=json',
                type: "get",
                data: {},
                success: function (response) {
                    var data_source = [];
                    response.forEach(function(item){
                        var row = [];
                        {% for field in form %}
                            row.push(item["{{ field.name }}"]);
                        {% endfor %}
                        row.push ('<div class="action-buttons"><a class="edit green" data-item-id="'+item.id+'"><i class="ace-icon fa fa-pencil bigger-130"></i></a></div>');
                        data_source.push(row);
                    });
                    load_datatable(data_source);

                },
                error: function (jXHR, textStatus, errorThrown) {
                    alert(errorThrown);
                }
            });

        };

        var save_form = function(e){
            var link = {{ link }};
            var method = "post";
            if (isEditMode){
                method = "put";
                link+=currentItemId+"/";
            }
            e.preventDefault();
                $.ajax({
                    url : link  + '?format=json',
                    type: method,
                    data: _form.serializeJSON(),
                    success: function (data) {
                        reload_datatable();
                        cancel_form();
                    },
                    error: function (jXHR, textStatus, errorThrown) {
                        alert(errorThrown);
                    }
                });
        }

        $(document).ready(function () {
            $('.submit-button').click(save_form);

            $('.cancel-button').click(cancel_form);

            reload_datatable();

        });
    })();
</script>