{% extends "empty-layout.html" %}

{% block maincontent %}
    <div id="sidebar" class="sidebar responsive">
        <script type="text/javascript">
            try{ace.settings.check('sidebar' , 'fixed')}catch(e){}
        </script>

        <ul class="nav nav-list">
            <li class="">
                <a href="/">
                    <i class="menu-icon fa fa-tachometer"></i>
                    <span class="menu-text"> Panel de control </span>
                </a>

                <b class="arrow"></b>
            </li>
{% if perms.add_warehouse.can_write  %}
            <li class="">
                <a href="#" class="dropdown-toggle">
                    <i class="menu-icon fa fa-calendar-o"></i>
                    <span class="menu-text">
                        Inventario
                    </span>

                    <b class="arrow fa fa-angle-down"></b>
                </a>

                <b class="arrow"></b>

                <ul class="submenu">
                             <li class="">
                        <a href="/inventory/unitofmeasures/">
                            <i class="menu-icon fa fa-caret-right"></i>
                            Unidad de Medida
                        </a>

                        <b class="arrow"></b>
                    </li>
                    <li class="">
                        <a href="/inventory/products">
                            <i class="menu-icon fa fa-caret-right"></i>
                            Productos
                        </a>

                        <b class="arrow"></b>
                    </li>

                    <li class="">
                        <a href="/inventory/warehouse/">
                            <i class="menu-icon fa fa-caret-right"></i>
                            Almacenes
                        </a>

                        <b class="arrow"></b>
                    </li>

                    <li class="">
                        <a href="/inventory/inputs/">
                            <i class="menu-icon fa fa-caret-right"></i>
                            Entradas
                        </a>

                        <b class="arrow"></b>
                    </li>

                    <li class="">
                        <a href="/inventory/outputs/">
                            <i class="menu-icon fa fa-caret-right"></i>
                            Salidas
                        </a>

                        <b class="arrow"></b>
                    </li>
                    <li class="">
                        <a href="/inventory/transfers/">
                            <i class="menu-icon fa fa-caret-right"></i>
                            Transferencias
                        </a>

                        <b class="arrow"></b>
                    </li>
                    <li class="">
                        <a href="/inventory/stock/">
                            <i class="menu-icon fa fa-caret-right"></i>
                            Existencia
                        </a>

                        <b class="arrow"></b>
                    </li>

                    <li class="">
                        <a href="/inventory/finishproducts/">
                            <i class="menu-icon fa fa-caret-right"></i>
                            Producto Terminados
                        </a>

                        <b class="arrow"></b>
                    </li>
                </ul>
            </li>
{% endif %}
            <li class="">
                <a href="#" class="dropdown-toggle">
                    <i class="menu-icon fa fa-money"></i>
                    <span class="menu-text"> Ventas </span>

                    <b class="arrow fa fa-angle-down"></b>
                </a>

                <b class="arrow"></b>
                <ul class="submenu">
                    <li class="">
                        <a href="/sales/customers/">
                            <i class="menu-icon fa fa-caret-right"></i>
                            Clientes
                        </a>

                        <b class="arrow"></b>
                    </li>
                    {% if perms.add_warehouse.can_write  %}
                      <li class="">
                        <a href="/sales/salesarea/">
                            <i class="menu-icon fa fa-caret-right"></i>
                            Areas de venta
                        </a>

                        <b class="arrow"></b>
                    </li>
                    <li class="">
                        <a href="/sales/cashregisters/">
                            <i class="menu-icon fa fa-caret-right"></i>
                            Cajas
                        </a>

                        <b class="arrow"></b>
                    </li>
                    <li class="">
                        <a href="/sales/cashiershifts/">
                            <i class="menu-icon fa fa-caret-right"></i>
                            Turno de cajas
                        </a>

                        <b class="arrow"></b>
                    </li>
                     <li class="">
                        <a href="/sales/salesreport/">
                            <i class="menu-icon fa fa-caret-right"></i>
                            Reporte de Ventas
                        </a>

                        <b class="arrow"></b>
                    </li>
                    {% endif %}
                    <li class="">
                        <a href="/sales/pointofsales/">
                            <i class="menu-icon fa fa-caret-right"></i>
                            Punto de Ventas
                        </a>

                        <b class="arrow"></b>
                    </li>
                </ul>
            </li>

        </ul><!-- /.nav-list -->

        <div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">
            <i class="ace-icon fa fa-angle-double-left" data-icon1="ace-icon fa fa-angle-double-left" data-icon2="ace-icon fa fa-angle-double-right"></i>
        </div>

        <script type="text/javascript">
            try{ace.settings.check('sidebar' , 'collapsed')}catch(e){}
        </script>
    </div>

    <div class="main-content">
        <div class="main-content-inner">

            <div class="page-content">
                <div class="row">
                    <div class="col-xs-12">
                        <!-- PAGE CONTENT BEGINS -->
                        {% block content %}{% endblock %}
                        <!-- PAGE CONTENT ENDS -->
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.page-content -->
        </div>
    </div><!-- /.main-content -->
{% endblock %}